{% if page.version == "s6" %}
<a class="new-alart navbar-fixed-top" href="/docs/api/">{{ site.data.t[page.lang].s6warning }}</a>
{% else %}
<header class="navbar-fixed-top">
  <nav class="container" id="header-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo-white.png?v={{ site.data.time.resource }}" alt="myBlog">
        <span>不停的博客</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">{{ site.data.t.zh.index }}</a></li>
      <li {% if page.url == "/work/" %}class="active"{% endif %}><a href="/work/">{{ site.data.t.zh.workExperience }}</a></li>
      <li {% if page.collection == "docs" %}class="active"{% endif %}><a href="/docs/start/">{{ site.data.t.zh.docs }}</a></li>
      <li><a href="https://github.com/yuanqinghua-star">{{ site.data.t.zh.github }}</a></li>
    </ul>
    {% include nav-widget.html %}
  </nav>
</header>
{% endif %}
