{% if page.version == "s6" %}
<a class="new-alart navbar-fixed-top" href="/docs/api/">{{ site.data.t.s6warning }}</a>
{% else %}
<header class="navbar-fixed-top">
  <nav class="container" id="header-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logo-white.png?v={{ site.data.time.resource }}" alt="myBlog">
        <span>不停的博客</span>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">{{ site.data.t.index }}</a></li>
      <li {% if page.url == "/about" %}class="active"{% endif %}><a href="/about">{{ site.data.t.about }}</a></li>
      <li {% if page.collection == "docs" and page.tag[0] == "works" %}class="active"{% endif %}><a href="/works/tjxx/">{{ site.data.t.workExperience }}</a></li>
      <li {% if page.collection == "docs" and page.tag[0] != "works" %}class="active"{% endif %}><a href="/docs/javascript/">{{ site.data.t.docs }}</a></li>
    </ul>
    {% include nav-widget.html %}
  </nav>
</header>
{% endif %}
