@media (max-width: 1199px) {
  .homepage {
    .content {
      width: 900px;
      height: 500px;
      margin: 200px auto 0 auto;
      border-radius: 10px;
    }
  }
}

@media (max-width: 991px) {
  .homepage {
    .content {
      width: 768px;
      height: 500px;
      margin: 200px auto 0 auto;
      border-radius: 10px;
      background-color: rgba(236, 236, 236, 0.59);
      transition: all 1.0s;

      /*box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
      .avatar {
        float: left;
        width: 150px;
        height: 150px;
        margin: 150px 0 0 60px;
        border-radius: 75px;
      }

      .hello {
        font-size: 22px;
      }

      .content_r {
        float: right;
        width: 400px;
        margin: 60px 40px 0 0;
        /*	background-color: pink;*/
      }

      .cc {
        margin-top: 10px;
        font-size: 16px;
      }

      .color_1 {
        font-size: 16px;
      }

      .link-list {
        margin-top: 30px;

        .link-item {
          display: block;
          float: left;
          width: calc(50% - 5px);
          height: 45px;
          margin: 5px 5px 0 0;
          color: #fff;
          line-height: 45px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .homepage {
    .content {
      width: 556px;
      height: 500px;
      margin: 200px auto 0 auto;
      border-radius: 10px;
      background-color: rgba(236, 236, 236, 0.59);
      transition: all 1.0s;
      position: relative;

      /*box-shadow: 0px 0px 20px rgba(0,0,0,0.3);*/
      .avatar {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }

      .hello {
        font-size: 22px;
      }

      .content_r {
        float: none;
        width: 400px;
        margin: 90px auto 0;
        /*	background-color: pink;*/
      }

      .cc {
        margin-top: 10px;
        font-size: 16px;
      }

      .color_1 {
        font-size: 16px;
      }

      .link-list {
        margin-top: 30px;

        .link-item {
          display: block;
          float: left;
          width: calc(50% - 5px);
          height: 45px;
          margin: 5px 5px 0 0;
          color: #fff;
          line-height: 45px;
        }
      }
    }
  }
}

@media (max-width: 555px) {
  .homepage {
    .content {
      width: 414px;
      margin: 200px auto 0 auto;
      border-radius: 10px;
      background-color: rgba(236, 236, 236, 0.59);
      transition: all 1.0s;
      position: relative;
      .avatar {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
      }

      .hello {
        font-size: 22px;
      }

      .content_r {
        float: none;
        width: 400px;
        margin: 90px auto 0;
        /*	background-color: pink;*/
      }

      .cc {
        margin-top: 10px;
        font-size: 16px;
      }

      .color_1 {
        font-size: 16px;
      }

      .link-list {
        margin-top: 30px;

        .link-item {
          display: block;
          float: left;
          width: calc(50% - 5px);
          height: 45px;
          margin: 10px 5px 0 0;
          color: #fff;
          line-height: 45px;
        }
      }
    }
  }
}


@media (max-width: 413px) {
  .homepage {
    .content {
      width: 375px;
      margin: 120px auto 0 auto;
      .content_r {
        float: none;
        width: 90%;
        margin: 90px auto 0;
      }
    }
  }
}


@media (max-width: 374px) {
  .homepage {
    .content {
      width: 90%;
      margin: 100px auto 0 auto;

      .link-list {
        .link-item {
          width: calc(50% - 5px);
        }
      }
    }
  }
}